<div class="background-container">
  <div class="row">
    <div class="cell">
      <p class="h2 primary-text bold right border-bottom">
        BSC YB
      </p>
      <p class="h3 primary-text right">
        Schuss
      </p>
    </div>
    <div class="cell second">
      <img src="../../assets/img/arrow.svg" class="round-end-arrow"
           [ngClass]="{'round-end-arrow-team1': winner == 1, 'round-end-arrow-team2': winner==2}">
    </div>
    <div class="cell">
      <p class="h2 primary-text bold left border-bottom">
        Vaduz
      </p>
      <p class="h3 primary-text left">
        Tackling
      </p>
    </div>
  </div>
  <div class="stack">
    <div id="field">

    </div>
    <div id="action">

    </div>
  </div>
</div>
