@import '../../styles';


#login-mask{
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 20vh;
}

#login-title{
  color:$primary-color;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
.login-form-button{

}
