<div id="login-container">
  <div id="login-mask">
    <h1 id="login-title">Login</h1>
    <form id="login-form">
      <mat-form-field class="login-form-full-width" color="accent">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="loginModel.password">
      </mat-form-field>
      <mat-form-field class="login-form-full-width" color="accent">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" [(ngModel)]="loginModel.password">
      </mat-form-field>
      <button class="login-form-button" mat-raised-button color="warn" (click)="register()">Register</button>
      <button class="login-form-button" mat-raised-button color="warn" (click)="login()">Login</button>
      <button class="login-form-button" mat-raised-button color="warn" (click)="guestLogin()">Continue as guest</button>
    </form>
  </div>
</div>
