@import '../../styles';
@import "../../vars";

.page {
  background-color: transparent;
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  align-items: center;

  .cell {
    padding: $big-whitespace;
    flex: 1;

    &.first {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

    }

    .headUp {
      display: flex;
      justify-content: space-between;
    }

  }
}

/* Portrait */
@media screen and (min-aspect-ratio: 1/1) {
  /* Portrait styles */
  .page {
    flex-direction: row;
  }
}

#login-title {
  color: $primary-color;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.login-form-button {

}
