<div class="page">
  <div class="cell first">
    <div class="headUp">
      <app-round-counter [endDate]="roundEndDate"></app-round-counter>
      <app-scoreboard [score]="score"></app-scoreboard>
    </div>
    <div></div>
    <app-ball-possession [teamName]="teamWithBallPossession"></app-ball-possession>
  </div>
  <div class="cell">
    <app-vote-result-bar [items]="voteResults" [teamName]="opponentName"></app-vote-result-bar>
    <app-option-list [options]="options" [teamName]="teamName"></app-option-list>
  </div>
</div>
