@import "vars";
@import "../node_modules/rfs/scss";


.background-container {
  background-image: url("assets/img/pattern.svg");
  width: 100%;
  background-color: #0C1619;
  min-height: 100vh;
  height: auto;
  background-repeat: repeat;
  background-size: 200px;
}

.h1, .h2, .h3, .h4, .ct{
  font-family: "Roboto", sans-serif;
}

.h1 {
  font-weight: 400;
  @include font-size(4rem);
  text-transform: uppercase!important;
}


.h2 {
  font-weight: 400!important;
  @include font-size(3rem);

  text-transform: uppercase!important;
}

.h3 {
  font-weight: 400;
  @include font-size(1.75rem);
  text-transform: uppercase!important;
}

.h4 {
  font-weight: 300!important;
  @include font-size(1rem);
  text-transform: uppercase!important;
}

.ct {
  font-weight: 300;
  @include font-size(5rem);

  margin: 0;
}

.bold{
  font-weight: 900!important;
}

.center {
  text-align: center;
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}

.primary-bg{
  background-color: $primary-color;
}

.primary-text{
  color: $primary-color;
}

.secondary-bg{
  background-color: $secondary-color;
}

.secondary-text{
  color: $secondary-color;
}

.light-text{
  color: $light;
}

.light-bg{
  background-color: $light;
}

.dark-text{
  color: $dark;
}
.dark-bg{
  background-color: $dark;
}

.header{
  padding: 30px 0;
  background-color: $dark;
  border-bottom: 3px solid $primary-color;
}

.gradient--orange {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(255, 211, 0, 1) 0%, rgba(255, 199, 0, 1) 25.24%, rgba(255, 165, 0, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 211, 0, 1) 0%, rgba(255, 199, 0, 1) 25.24%, rgba(255, 165, 0, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(255, 211, 0, 1)), color-stop(0.2524, rgba(255, 199, 0, 1)), color-stop(1, rgba(255, 165, 0, 1)));
  background: -o-linear-gradient(0deg, rgba(255, 211, 0, 1) 0%, rgba(255, 199, 0, 1) 25.24%, rgba(255, 165, 0, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(255, 211, 0, 1) 0%, rgba(255, 199, 0, 1) 25.24%, rgba(255, 165, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD300', endColorstr='#FFA500' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(255, 211, 0, 1) 0%, rgba(255, 199, 0, 1) 25.24%, rgba(255, 165, 0, 1) 100%);
  box-shadow: 0px 18px 33px rgba(255, 213, 34, 0.1);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=18, Color='#FFD522') progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD300', endColorstr='#FFA500', GradientType=1);
}
