.background-container {
  background-image: url("assets/img/pattern.svg");
  width: 100%;
  background-color: #0C1619;
  min-height: 100vh;
  height: auto;
  background-repeat: repeat;
  background-size: 200px;
}

h1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  color: #0C1619;
  color: rgb(12, 22, 25);
}


h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 74px;
  text-transform: uppercase;
  vertical-align: super;
}

h3 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 33px;
  text-transform: uppercase;
}


h4 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
}


.announcer /* rename that shit xd */
{
  font-family: Roboto;
  font-weight: 300;
  font-size: 130px;
  margin: 0px;
}


.center {
  text-align: center;
  width: 100%;
}
