$primary-color:#FFD300;
$secondary-color: #FFA500;
$dark: #0C1619;
$light: #d7f2e9;


$btn-border-radius: 6px;

$small-whitespace: 0.5em;
$default-whitespace: 1em;
$big-whitespace: 2em;

$border-size: 5px;
$small-border-size: 3px;
