<div class="heading">
  <span class="h4 primary-text">{{teamName}} Voting</span>
  <span class="h4 right light-text">Chance</span>
</div>
<div class="option" *ngFor="let option of options; let i = index">
  <div class="left">
    <div class="top"><span class="letter h4 bold">{{optionLetters[i]}}</span>
      <span class="name right h4">{{option.name}}</span>
    </div>
    <div class="bottom" [style.width]="tempResults[i].percent+'%'"></div>
  </div>
  <div class="right">
    <div class="chance h4 light-bg">
      <span>{{option.chance}}<small>%</small></span>
    </div>

  </div>

</div>
