@import "../../../vars";

.heading {
  margin-top: $big-whitespace;
  margin-bottom: $small-whitespace;
  display: flex;
  justify-content: space-between;

  .h4 {
    flex: 1;
  }
}


.option {
  border-radius: $btn-border-radius;
  background-color: #ffcc00;
  height: 3em;
  margin: $default-whitespace 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: $secondary-color;
    height: 5px;
  }

  span {
    &.letter {
      flex-grow: 0;
      padding: 0.5em;


    }

    &.name {
      flex-grow: 1;
      padding-right: 0.5em;
    }
  }

  .chance {
    flex-grow: 0;
    height: 100%;
    background-color: $light;
    display: flex;
    align-items: center;

    span {
      padding: 0.5em
    }
  }

}

